.container {
    min-height: 100vh;
    background-color: #0d0d0d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .profile-container {
        margin: 25px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        & .profile-card {
            background-color: #222;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
            width: 600px;

            & .load-more {
                background-color: #1f78ff;
                color: #fff;
                border: none;
                padding: 10px 20px;
                font-size: 16px;
                border-radius: 5px;
                cursor: pointer;
                margin-top: 15px;
                width: 100%;
                text-align: center;
                transition: .2s ease-in-out;

                &:hover {
                    background-color: #145bb5;
                }
            }
        }
    }
    
    & .home-button {
        background-color: #1f78ff;
        color: #fff;
        border: none;
        padding: 12px 24px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: background-color 0.3s ease, transform 0.2s ease;
        display: inline-block;
        margin: 20px 0 40px;

        &:hover {
            background-color: #145bb5;
            transform: translateY(-3px);
        }

        &:active {
            background-color: #104a8f;
            transform: translateY(0);
        }
    }
}

.error-message {
    color: #931010;
}