* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Verdana, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 12px;
    height: 8px; /* Largura da barra de rolagem horizontal */
}

::-webkit-scrollbar-track {
    background-color: #333; /* Cor de fundo da barra */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #1f78ff; /* Cor da parte rolável da barra */
    border-radius: 10px;
    border: 2px solid #222; /* Bordas da barra de rolagem */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #145bb5; /* Cor quando o usuário passa o mouse */
}
