* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Verdana, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 12px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: #333; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #1f78ff; 
    border-radius: 10px;
    border: 2px solid #222; /
}

::-webkit-scrollbar-thumb:hover {
    background-color: #145bb5; 
}
